<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
      
    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>

